
.parallax {
    position: fixed;
}

.home-container {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    margin-bottom: 60vh;
    width: 95%;
    height: auto;
}

.hidden {
    z-index: -10;
}


.intro-text {
    display: block;
    position: relative;
    color: white;
    font-family: Oswald;
    font-size: 5em;
    margin-left: 10vw;
    min-width: 80%;
}

.text-div {
    display: flex;
    position: relative;
    min-width: 40%;
    margin-left: 10vw;
}

.text {
    color: white;
    font-family: Oswald;
    font-size: 2.5em;
    font-style: italic;
}


@media screen and (max-width: 600px) {
    .home-container {
        padding-top: 8vh;
        margin-bottom: 10vh;
        width: 100%;
        height: auto;
    }

    .intro-text {
        font-size: 18vw;
    }

}



