
.parallax {
    position: fixed;
}

.home-container {
    display: flex;
    margin-bottom: 50vh;
    width: 95%;
    height: auto;
}

.hidden {
    z-index: -10;
}

.text {
    display: flex;
    position: relative;
    color: white;
    font-family: Oswald;
    font-size: 8vw;
    padding-left: 2vw;
    padding-top: 25vh;
}

.image-div {
    display: flex;
    position: absolute;
    padding-top: 25vh;
    padding-left: 60vw;
    z-index: -1;
}

.image {
    max-width: 30vw;
    max-height: auto;
}


@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: auto;
    }

    .text {
        padding-top: 8vh;
        font-size: 20vw;
    }

    .image-div {
        margin-top: 40vh;
        padding-left: 14vw;
    }

    .image {
        max-width: 70vw;
        max-height: auto;
    }


}



