.navbar-items{
    display: flex;
    justify-content: right;
    background-color: rgb(22, 16, 36);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: auto;
    padding-bottom: .5vh;
    position: fixed;
    z-index: 10;

}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 12vw;
    list-style: none;

}

.nav-links{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
}

.nav-links:hover {
    color: rgb(83, 74, 106);
    transition-delay: 5ms;
}

.fa-bars, .fa-xmark{
    height: 5vh;
    color: white;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 901px) {
    .navbar-items{
        z-index: 90;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgb(31, 19, 59);
        box-shadow: 0 2px 10px 0 rgba(53, 72, 134, 0.37);
        backdrop-filter: blur(4px);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 70px 0 30px 0;
        margin: 0;
        z-index: -1;
        grid-gap: .1vh;
        text-align: center;
        transition: all 0.2s ease;
    }

    .nav-menu.active {
        left: 0%;
    }

    .nav-links {
        display: block;
        widows: 100%;
        padding: 4rem 0;
        color: white;
    }

    .nav-links:hover {
        background:rgb(44, 30, 81);
        color: white;
    }

    .menu-icons {
        padding-right: 84%;
        padding-top: 8%;
        padding-bottom: 2.2vh;
        display: block;
    }
}